@media (max-width: 767px) {
    .main {
        padding: 0;
        background-color: #ded7cf;
    }

    .infoBlock {
        background-color: #ded7cf;
    }

    .contactsBlock {
        height: 790px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: #ded7cf;
    }
}

@media (min-width: 768px) {
    .main {
        padding-top: 50px;
        width: 100%;
        background-color: #ded7cf;
    }

    .infoBlock {
        padding-top: 150px;
        background-color: #ded7cf;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contactsBlock {
        margin: 100px auto;
        width: 86dvw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ded7cf;
    }
}

@media (min-width: 1440px) {
    .main {
        padding-top: 50px;
        width: 100%;
        background-color: #ded7cf;
    }

    .infoBlock {
        padding-top: 150px;
        background-color: #ded7cf;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .contactsBlock {
        margin: 100px auto;
        width: 86dvw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #ded7cf;
    }
}
