.main {
    width: 44vw;
    height: 130vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.text {
    width: 42vw;
    height: 127vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    color: white;
    text-align: center;
}

.title {
    font-size: 96px;
    font-weight: 400;
    letter-spacing: 0.1em;
    font-family: var(--font-bebas-neue);
}

.discription {
    width: 37vw;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .main {
        width: 280px;
        height: 423px;
    }

    .text {
        width: 236px;
        height: 382px;
    }

    .title {
        font-size: 31px;
    }

    .discription {
        width: 236px;
        font-size: 15px;
    }
}
