.main{
    width: 30%;
    max-height: 35vh;
    background-color:#769BFF;
    color: white;
}

.number {
    padding: 30px 30px 0;
    font-size: 96px;
    font-weight: 300;
}

.text {
    padding: 35px 30px 34px;
    font-size: 24px;
    font-weight: 500;
}