.main {
    margin-top: 50px;
    width: 100%;
}

.stringTable {
    display: grid;
    grid-template-columns: 3vw 28vw 7vw 7vw 7vw 7vw;
    grid-auto-rows: 75px;
}

.cellTable {
    padding-left: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111111;
    font-size: 18px;
    font-weight: 500;
}

.cellCaptionTable {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111111;
    font-size: 24px;
    font-weight: 700;
}

.cellNumberTable {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111111;
    font-size: 32px;
    font-weight: 600;
}

.cellPlusTable {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #111111;
    font-size: 40px;
    font-weight: 600;
}
