.title {
    font-size: 96px;
}

.subtitle {
    font-size: 40px;
    font-weight: 700;
}

.discription {
    margin: 0;
    padding: 0;
    font-size: 32px;
    font-weight: 500;
}

@media (max-width: 767px) {
    .main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    .title {
        text-align: center;
        font-size: 36px;
    }

    .subtitle {
        text-align: center;
        font-size: 24px;
    }

    .discription {
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    .title {
        font-size: 45px;
    }

    .subtitle {
        font-size: 30px;
    }

    .discription {
        font-size: 24px;
    }
}