.main {
    margin: 0 auto;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DED7CF;
    border-bottom: 2px solid #111111;
}

.menu {
    margin: 2vh auto 0 auto;
    width: 50vw;
    display: flex;
    justify-content: space-around;
}

.menuItem {
    font-weight: 500;
    font-size: 20px;
}