@media (max-width: 767px) {
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .emptyBlock {
        padding: 0;
        width: 100%;
        height: 55px;
    }
}

@media (min-width: 1920px) {
    .main {
        margin: 0 auto;
        width: 96%;
        display: flex;
        justify-content: space-between;
    }

    .emptyBlock {
        width: 25%;
        display: block;
        position: relative;
        padding-bottom: 100px;
    }

    .infoCourseBlock {
        width: 72%;
    }
}
